<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Galerie d’images</title>
</head>
<body>
    <h2>Galerie d’images</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% for image in images %}
        <div style="margin-bottom: 20px;">
            <img src="{{ url_for('upload.uploaded_file', filename=image) }}" width="200" alt="image uploadée">
            <p>{{ image }}</p>
        </div>
    {% endfor %}

    <a href="/">Retour à l'accueil</a>
</body>
</html>
