<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire d'uploads d'images</title>
</head>
<body>
    <h2> Uploader une nouvelle image</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Envoyer">
    </form>
</body>
</html>


